*{
	padding: 0;
	margin: 0;
}

body{
	background:  rgb(36,36,36);
	margin: 0;

	font-family: "Lato", sans-serif;
	font-size: 15px;
}

.main__wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
}
/* Данила  */
/* Первый блок(начальный) */
.header{
	height:  960px;

	background: url('img/headerbg.jpg') no-repeat center top / cover;
}

header a{
	color: #ffffff;
}

.nav{
	padding-top: 38px; 
	display: flex;
	align-items: center; 
}

.menu {
	display: flex; 
	margin-left: auto;
	padding: 27px 0 27px 0; 
	margin-right: 173px;
}

.logo{
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #ffffff;
	font-size: 33px; 

	width: 350px;
    height: 78px;
    background: #ffba00;
}

.logo a{
	display: flex;
	margin-top: 14px;
	text-decoration: none;
	float: right;
	margin-right: 36px;
	letter-spacing: 2px;
}

.logo a span {
	font-weight: 800;
}

.menu li{
	list-style-type: none;
	margin-right: 78px; 
}

.menu li a{
	text-decoration: none;
	font-size: 34px; 
	transition: 0.3s; 
}


.menu li a:hover{
	color: #ffba00;
}

.title {
	padding-bottom: 380px;
}

.line {
	margin-top: 286px;
	display: flex;

	height: 200px;
	background: #ffba00;

}

.text1{
	margin: 40px 0 0 180px;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 105px; 
	letter-spacing: 10px;
	line-height: 105px;
}

.text1 h1{
	letter-spacing: 0px;
	font-size: 125px;
	font-weight: 900;
}

.button{
	cursor: pointer;

	margin-left: auto;
	margin-right:  290px;
	margin-top:  165px;

	display: flex;
  	align-items: center;
  	justify-content: right;

	width: 335px;
	height: 77px;
	background: #ffba00;
	border: 4px solid white;
	
	color:  #fff;
	transition: 0.3s;
}

.button span {
	margin-right: 30px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-size: 35px;
	font-weight: 600;
}

.button:hover{
	border-color: #ffba00;
	background: #ffffff;
	color: #ffba00;
}


/* Второй блок */
.news {
	display:  flex;
	align-items: center;

	color: white;

	height: 610px;
}

.titletext {
	letter-spacing: 7px;

	font-family: "Montserrat", sans-serif;
	font-size: 50px;
	font-weight: 300;
	transform: rotate(270deg);

	position: absolute;
	margin-bottom: 100px;
}

.imgpiz {
	margin-left:  auto;
}

.bodytext{
	position: absolute; /* Как по-другому хз  */
	font-size:  35px;
	color: #ffffff;

	margin-left: 135px;
}

.bodytext h2{
	letter-spacing: 7px;
	font-size:  41px;
	font-weight: 900;
	margin-bottom: 45px;
	margin-left:  125px;
}

.rec {
	padding-top: 15px;
	padding-right: 100px;
	background: #ffba00;
	width: 800px;
}

.rec p:last-child{
	padding-bottom: 15px;
}

.bodytext p{
	margin-bottom: 50px; 
	margin-left:  125px;
}

/* Третий блок  */
.info {
	display: flex;
	align-items: center;
  	justify-content: space-around;
	background: #ffffff;

	height: 375px;
}

.post {
	width: 305px;
	font-size: 17px;
}

.post h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #ffba00;
	margin-bottom: 35px;
}

/* Алексей  */

/*	Блок 4 */
.block4{
    background: url('img/background-block4.jpg') no-repeat center top / cover;
    height: 1355px;	
    z-index: 0;
}


.text{
	font-family: "Montserrat", sans-serif;
	color: #ffba00;
	font-size: 42px;
	line-height: 42px;
	letter-spacing: 3px;
	padding-top: 95px;
	text-align: center
}

.text h2{
	font-size: 42px;
	font-weight: 800;
}
.text span{
	font-weight: 400;
}

.rectangle3{
	margin-top: 50px;
	margin-left: 260px;
	height: 130px;
	border: 2px solid white;
	padding-left: 270px;
	padding-top: 30px;
}
.text h3{
	font-weight: 500;
	font-size: 48px;
	text-transform: uppercase; 
	text-align: left
}



.rectangle1 {
	position: relative ;
	top: 165px;
	left: 405px;
    height: 415px;
    background: #ffba00;
    padding-top: 5px;
    z-index: 0;	
    width:  1035px;
}

/*	Начало grid-сетки */
.wrapper {
	font-family: "Lato", sans-serif;
	padding-top: 55px;
	grid-template-columns: 40px 665px 300px;
	grid-template-rows: 120px 120px 120px 155px;
	display: grid;
	grid-gap: 10px;
	text-align: left;
  z-index: 1;	
	color: #ffffff;
}

.wrapper p{ 
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 34px;
}
.wrapper span{
	font-size: 34px;
	font-weight: 900;
}
.wrapper b{
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 3px;
}

.rectangle4{
	grid-row-start: 1; 
	grid-row-end: 3; 
	grid-column-start: 3;   
	grid-column-end: 4; 
  height: 500px;
  width: 65px;
  background: #ffda00;	
  z-index: 2;
	font-weight: 900;
	margin-top: -15px;
	margin-left: 20px;
	mix-blend-mode: overlay;
	opacity: 0.5;
}

.elem1 {
	grid-row-start: 1; 
	grid-row-end: 2; 
	grid-column-start: 2;   
	grid-column-end: 3; 
}
.price1 {
	grid-row-start: 1; 
	grid-row-end: 2; 
	grid-column-start: 3;   
	grid-column-end: 4; 
}
.elem2 {
	grid-row-start: 2; 
	grid-row-end: 3	; 
	grid-column-start: 2;   
	grid-column-end: 3; 
}
.price2 {
	grid-row-start: 2; 
	grid-row-end: 3; 
	grid-column-start: 3;   
	grid-column-end: 4; 
}
.elem3 {
	grid-row-start: 3; 
	grid-row-end: 4	; 
	grid-column-start: 2;   
	grid-column-end: 3; 
}
.price3 {
	grid-row-start: 3; 
	grid-row-end: 4; 
	grid-column-start: 3;   
	grid-column-end: 4; 
}
.elem4 {
	grid-row-start: 4; 
	grid-row-end: 5	; 
	grid-column-start: 2;   
	grid-column-end: 3; 
}
.price4 {
	grid-row-start: 4; 
	grid-row-end: 5; 
	grid-column-start: 3;   
	grid-column-end: 4; 
}

.rectangle2{
	grid-row-start: 5; 
	grid-row-end: 6; 
	grid-column-start: 2;   
	grid-column-end: 4; 

	line-height: 1.8;
	margin-left: -185px;
	height: 155px;
	width: 755px;
	border: 2px solid white;
	padding-left: 185px;
	padding-top: 20px;

}

.rectangle2 p {
	font-size: 25px;
}
/* Конец grid-сетки */

.head-text5{
	font-family: "Lato", sans-serif;
	color: #ffba00;
	text-transform: uppercase; 
	font-size: 42px;
	line-height: 42px;
	letter-spacing: 3px;
	padding-top: 115px;
	text-align: center;
	font-weight: 400;
}

.head-text5 b{
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase; 
	font-size: 42px;
	line-height: 42px;
	letter-spacing: 3px;
	padding-top: 115px;
	text-align: center;
	font-weight: 900;
}
.body-text5{
	font-family: "Raleway", sans-serif;
	color: #ffffff;
	font-size: 19px;
	line-height: 24px;
	padding-top: 45px;
	text-align: center;
	font-weight: 400;
}

.menu2 {
  margin-top: 45px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 120px;
}

.menu2 li{
	list-style-type: none;
	display: inline;
	margin-left: 40px;
}

.menu2 li a{
	color: #ffffff;
	font-weight: 900;
	margin-left: 5px;
	text-decoration: none;
	font-size: 16px;
	transition: 0.3s; 
}

/*Наведение на кнопки меню*/
.menu2 li a:hover{
	color: #ffba00;
}

/* Шестой блок  */
.block6{
	display: flex;
	justify-content: right;

	background: url('img/masterclass.jpg') no-repeat center top / cover;

	height:  1210px;
}

.cont {
	margin-right:  130px;
	padding-bottom: 195px;
}


.masterclass_title{
	text-align: right;

	padding-top: 95px;
	color: #ffffff;
	font-weight: 900;
	font-size: 42px;
	text-transform: uppercase;
}

.bodytext_price{
	color: #ffffff;

	/*font-family: "Lato", sans-serif;*/

	align: center;
	width: 530px;
	height: 660px;
	background: #ffba00;

	margin-top: 95px;
}

.text_info {
	font-weight: 900;

	margin-left: 60px;
	padding-top: 95px;
	font-size: 50px;

	text-transform: uppercase;
}

.text_info h3{
	margin-top: 40px;

	text-transform: lowercase;
	font-size: 40px;
}

.price_time {
	float:  right;

	width: 220px;

	margin-right: 80px;
	margin-top: 95px;

	font-size: 40px;
	text-transform: uppercase;
}

.apply_button {
	margin-left:  auto;

	transition: 0.3s; 
	margin-top:  45px;
	width: 470px;
	height: 120px;
	background: #ffba00;
	color: #ffffff;
}

.apply_button span {
	display: block;

	text-transform: uppercase;
	font-weight: 900;
	font-size: 40px;

	padding-left:  35px;
	padding-top: 60px;
}

.apply_button:hover {
	cursor: pointer;
	color: #ffba00;
	background: #ffffff;
}

/* Аркадий  */

/*	7 блок */
.gallery {
	padding-top: 145px;
	width: 100%;
	position: relative;
}

.gallery:before {
	content: "";
	margin-left: -426px;
	width: 250px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	background-color: #ffba00;
}

.gallery h3 { 	
	margin-bottom: 47px;
	font-family: Montserrat, sans-serif;
	font-size: 41px;
	color: #ffba00;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
}

.gallery h3 span {
	display: inline-block;
	margin-left: -30px;
}

.gallery__content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.gallery__content-item {
	width: 22.013888%;
}
.gallery__content-item:first-child {				
	width: 49.444444%;
}
.gallery__content-item:last-child {
	width: 27.083333%;
}

.gallery__content-item img {
	width: 100%;
	display: block;
}

/* Hashtag */

.hashtag {
	padding: 104px 0 62px;
	width: 100%;
	position: relative;
}

.hashtag h3 {
	margin-bottom: 49px;
	color: #fff;
	text-transform: none;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.hashtag__content {
	margin: 0 auto;
	width: 836px;
	display: flex; 
	justify-content: space-between;
}

.hashtag__coloumn {
	width: 295px;
}
.hashtag__coloumn:first-child {
	width: 346px;
	padding-left: 69px;
}
.hashtag__coloumn:last-child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hashtag__coloumn p {
	font-family: Lato, sans-serif;
	line-height: 41px;
	font-size: 25px;
	color: #fff;
}

.hashtag__author {
	margin-top: 18px;
	font-family: Raleway, sans-serif;
	line-height: 33px;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	text-align: right;
}

.hashtag__coloumn h4 {
	padding-left: 10px;
	font-family: Lato, sans-serif;
	line-height: 25px;
	font-size: 25px;
	color: #fff;
	font-weight: 500;
	border-left: 1px solid #fff;
}

.sm__links {
	margin-top: 20px;
	padding-left: 3px;
	display: flex; 
}

.sm__link {
	margin-right: 15px;
	width: 56px;
	height: 56px;
	display: block;
	line-height: 56px;
	font-size: 32px;
	text-align: center;
	color: #000;
	text-decoration: none;
	background: #fff;
	border-radius: 50%;
	transition: 0.3s;
}
.sm__link:hover {
	color:#ffba00;
}

.sm__link:last-child {
	margin: 0;
}

.hashtag__coloumn-box:first-child {
	padding-top: 8px;
}
.hashtag__coloumn-box:first-child h4{
	margin-left: 7px;
	padding-left: 7px;
	letter-spacing: 0.5px;
}

.hashtag__coloumn-box:last-child {
	margin-bottom: 58px;
}
.hashtag__coloumn-box:last-child h4{
	margin-left: 3px;
}
.urlink {
	margin-top: 4px;
	display: block;
	font-family: Lato, sans-serif;
	color: #ffba00;
	font-size: 33px;
	font-weight: 900;
	text-decoration: none;
	transition: 0.3s;
}
.urlink:hover{
	color: #fff;
}

/*	8 блок */
.footer {
	padding: 60px 0 76px;
	font-family: Raleway, sans-serif;	
	color: #fff;
	font-weight: 700;
	background-color: #483500;
}

.footer a {
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}

.footer a:hover {
	color: #ffba00;
}

.footer h4 {
	margin-bottom: 39px;
	line-height: 33px;
	font-size: 20px;
	text-transform: uppercase;
}

.footer__coloumn:first-child h4 {
	font-size: 25px;
}

.footer__coloumn p {
	font-family: "Lato", sans-serif;
	line-height: 28px;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.footer__coloumn p span{
	display: block;
}

.footer__center {
	margin: 0 auto;
	width: 1066px;
	display: flex;
	
}

.footer__coloumn {
	display: inline-flex;
	margin-left: 172px;
}

.footer__coloumn:first-child {
	margin-left: 0;
	width: 378px;
	display: block;
}

.footer__menu-nav {
	margin-left: 120px;
}

.footer__menu {
	line-height: 29px;
	font-size: 20px;
	list-style: none;
}

.footer__menu-nav:first-child {
	margin-left: 0;
}

.footer__menu-nav:last-child h4{
	font-weight: 700;
}
.footer__menu-nav:last-child .footer__menu {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}